{% extends "base_page.html" %}

{% block page-title %}
Список слов
{% endblock %}

{% block page-lead %}
Все слова извлекаются из БД/файла и динамически вставляются в таблицу.
{% endblock %}

{% block content %}
<div class="container">
      <table class="striped">
        <thead>
          <tr>
              <th>#</th>
              <th>Слово</th>
              <th>Перевод</th>
          </tr>
        </thead>

        <tbody>
            {% for wordid, word, translation in words %}
            <tr>
                <td class="py-3">{{ wordid }}</td>
                <td class="py-3">{{ word }}</td>
                <td class="py-3">{{ translation }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}
